selenium==4.7.2
webdriver-manager==3.8.5
pandas==1.5.2
numpy==1.23.4
pytube==12.1.0
pydub==0.25.1
moviepy==1.0.3
nltk==3.8
SpeechRecognition==3.8.1
PyQt5==5.15.7
plotly==5.11.0
Pyrebase4==4.5.0
beautifulsoup4==4.11.1
scikit-learn==1.2.0
tensorflow==2.11.0
seaborn==0.12.1
keras==2.11.0
scipy==1.8.1